build
filemgr.gz.h
filemgr.h
filemgr.html.gz
mac/DerivedData
UserInterfaceState.xcuserstate
xcschememanagement.plist
Breakpoints_v2.xcbkptlist
IDEFindNavigatorScopes.plist
littlefs
dependencies.lock
settings.json
*.gz.h
*.html.gz
